<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="com.imooc.aop.demo5.StudentDaoImpl" />

    <bean id="customerDao" class="com.imooc.aop.demo5.CustomerDao" />

    <bean id="myBeforeAdvice" class="com.imooc.aop.demo5.MyBeforeAdvice" />

    <bean id="myAroundAdvice" class="com.imooc.aop.demo5.MyAroundAdvice" />

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="*Dao"  />
        <property name="interceptorNames" value="myBeforeAdvice" />
    </bean>

</beans>