<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FilterDemo2</display-name>
  <welcome-file-list>
    <welcome-file>test1.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>testFilter1</filter-name>
    <filter-class>Filter.TestFilter1</filter-class>
  </filter>
  
  
  <filter-mapping>
    <filter-name>testFilter1</filter-name>
    <url-pattern>/test1.jsp</url-pattern>
  </filter-mapping>

	<filter>
		<filter-name>testFilter</filter-name>
		<filter-class>Filter.TestFilter</filter-class>
	</filter>
	
	<filter-mapping>
	    <filter-name>testFilter</filter-name>
	    <url-pattern>/test2.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>

</web-app>