<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="products_id" jdbcType="CHAR" property="productsId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="consignee_phone" jdbcType="CHAR" property="consigneePhone" />
    <result column="consignee_address" jdbcType="VARCHAR" property="consigneeAddress" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>