.app-slider {
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    .c {
      height: 30px;
      width: 193px;
    }

    .z {
      height: 30px;
      width: 30px;
    }
  }

  .menu {
    overflow-y: auto;
    height: calc(100% - 120px);

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    /deep/ .el-menu {
      border-right: 0;
      background-color: $color-main;

      &-item {
        &.is-active {
          background-color: $color-primary;
        }
      }

      .el-submenu__title,
      .el-menu-item {
        &:hover {
          background-color: $color-primary;
        }
      }

      .el-submenu {
        &.is-opened {
          background-color: #2b3043;

          .el-menu {
            background-color: #2b3043;
          }
        }
      }

      .el-submenu__title,
      &-item,
      &__title {
        color: #eee;
        letter-spacing: 0.5px;
        height: 50px;
        line-height: 50px;

        .icon-svg {
          height: 15px;
          width: 15px;
          margin: 0 15px 0 5px;
          position: relative;
          top: 1px;
        }

        span {
          font-size: 12px;
          letter-spacing: 1px;
          display: inline-block;
        }
      }

      &--collapse {
        .el-submenu__title {
          .icon-svg {
            margin-left: 2px;
            height: 19px;
            width: 19px;
          }
        }
      }
    }
  }
}