<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.contentcenter.dao.messaging.RocketmqTransactionLogMapper">
  <resultMap id="BaseResultMap" type="com.itmuch.contentcenter.domain.entity.messaging.RocketmqTransactionLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="transaction_Id" jdbcType="VARCHAR" property="transactionId" />
    <result column="log" jdbcType="VARCHAR" property="log" />
  </resultMap>
</mapper>