<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="com.imooc" />-->

    <context:annotation-config />
    <bean id="productService" class="com.imooc.demo3.ProductService">
        <!--<property name="productDao" ref="productDao" />
        <property name="categoryDao" ref="categoryDao" />-->
    </bean>

    <bean id="productDao" class="com.imooc.demo3.ProductDao" />

    <bean id="categoryDao" class="com.imooc.demo3.CategoryDao" />



</beans>