<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.contentcenter.dao.content.MidUserShareMapper">
  <resultMap id="BaseResultMap" type="com.itmuch.contentcenter.domain.entity.content.MidUserShare">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="share_id" jdbcType="INTEGER" property="shareId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>